@media screen and ( max-width: 1200px){
	.template .wrapper {
		max-width: 100%;
		padding: 0 40px;
	}
	.template h1 {
		color: #5e7569;
	}
}
@media screen and ( max-width: 991px){
	.template .wrapper { padding: 0 25px; max-width: 100%; }
	
	header { padding: 0; }
	#topbar { border-radius: 0; max-width: 100%; top: 0}
	.template .wrap { padding: 40px; }
	.sidebar-menu { display: none; position: absolute; width: 100%; padding: 0; height: auto; border-radius: 0; margin-bottom: 2em; top: -49px; }
	
	.template #bloc1,
	.template #bloc2,
	.template #bloc3 {
		display: block;
	}
	.template .photo > img {
		height: auto;
		width: 100%;
		max-width: 400px;
		margin: 0 auto;
		display: block;
	}
	.template #bloc1 .photo {
		max-width: 100%;
	}
	.template #bloc1 .texte {
		padding-left: 0;
	}
	.template #bloc2 .photo {
		margin-top: 3em;
	}
	.template #bloc2 .texte {
		margin: 0;
	}
	.template #bloc3 p {
		padding-left: 0;
	}
	.template #bloc3 .texte {
		margin: 0 !important
	}
}

@media screen and ( max-width: 768px){	
	.menu {
		display: none;
	}
	nav.menu {
		float: none;
	}
	/* Menu navigation */
	.menuMobile { width: auto; height: 76px; z-index: 80; transition: all 400ms ease-in-out; color: #222; font: normal 16px/62px swr; letter-spacing: .8px; cursor: pointer; text-transform: uppercase; position: absolute; right: 25px; top: 0; cursor: pointer; padding: 0; }
	.menuMobile>div						{ width:auto; height:100%; position:relative; padding:0 40px 0 0;}
	.menuMobile span					{ width:28px; height:3px; background:#517361; position:absolute; right:0; top:50%; display:block;}
	.menuMobile span:before				{ width:100%; height:3px; background:#517361; position:absolute; right:0; top:9px; content:"";}
	.menuMobile span:after				{ width:100%; height:3px; background:#517361; position:absolute; right:0; top:-9px; content:"";}
	.menuMobile.active span				{ height:0px;}
	.menuMobile.active span:before		{ top:0; transform:rotate(45deg);}
	.menuMobile.active span:after		{ top:0; transform:rotate(-45deg);}
	.menu { padding: 0 !important}
	nav.menu a { 
		padding: 10px 0;
		text-align: left;
		border-bottom: 1px solid #517361;
	}
	
	nav.menu li:last-child a{
		border: none;
	}
	
	nav.menu li {
		display: block;
		padding: 0;
	}
	nav.menu .current {
		background: transparent;
	}
	nav.menu .current a{
		color: white;
	}
	.template .photo > img {
		max-width: 100%;
	}
	
	.template #f1-footer {    
		padding: 107px 0 30px;
	}
	
	.footer-logo {
		top: -20px;
		left: 0;
		right: 0;
		max-width: 190px;
		margin: 0 auto;
		padding: 10px 30px
	}
	.footer-logo a {
		display: block;
	}
	.template #f1-footer > div {
		text-align: center;
	}
}