@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Erreur! L'utilisateur n'existe pas";
}

<div class="flex-content flex-jcenter-acenter flex-col pop-up">
    <div class="popup-container with-shadow">
        <div class="head gradient-blue">
            <h1>Oups !</h1>
        </div>
        <div class="content-section text-centered icon-bottom">
            <i class="pop-icon red-bg"></i>
            <p>Un compte avec cette adresse e-mail n'existe pas. Veuillez vous connecter avec un autre e-mail</p>
            @using (Html.BeginForm("DoSendMail", "Login", FormMethod.Post))
            {
                <input type="submit" class="btn btn-primary" value="Ok" onclick="redirectForgotten();">
            }
        </div>
    </div>

</div>

<script>
    function redirectForgotten(parameters) {
        window.location.href = "/Login/MotDePasseOublie";
    }
</script>