@model RedactApplication.Models.UTILISATEURViewModel
@{
    ViewBag.Title = "Notification";
    ViewBag.id = Request.Params["hash"];
    ViewData["hash"] = Request.Params["hash"];
}
@section Scripts
{
    <script type="text/javascript">
        function checkStrength(s) { var a = 0; return s.length >= 8 ? (a += 1, $("#pass-length").removeClass(), $("#pass-length").addClass("valid")) : ($("#result").addClass("short"), $("#pass-length").removeClass(), $("#pass-length").addClass("invalid")), s.match(/([a-z].*[A-Z])|([A-Z].*[a-z])/) && s.length > 0 ? (a += 1, $("#pass-min-maj").removeClass(), $("#pass-min-maj").addClass("valid")) : ($("#pass-min-maj").removeClass(), $("#pass-min-maj").addClass("invalid")), s.match(/([0-9])/) && null != s.length ? (a += 1, $("#pass-number").removeClass(), $("#pass-number").addClass("valid")) : ($("#pass-number").removeClass(), $("#pass-number").addClass("invalid")), s.match(/([!,%,&,#,$,^,;,*,?,_,~])/) && null != s.length ? (a += 1, $("#pass-special").removeClass(), $("#pass-special").addClass("valid")) : ($("#pass-special").removeClass(), $("#pass-special").addClass("invalid")), s.match(/(.*[!,%,&,#,$,^,;,*,?,_,~].*[!,%,&,#,$,^,;,*,?,_,~])/) && null != s.length && (a += 1), a < 2 ? ($("#result").removeClass(), $("#result").addClass("faible"), "Faible") : 2 == a ? ($("#result").removeClass(), $("#result").addClass("bon"), "Bon") : ($("#result").removeClass(), $("#result").addClass("fort"), "Fort") }
        function checkEquality() {
            var s = $("#userMotdepasse").val(),
                a = $("#userMotdepasseConfirme").val();
            if (a && s == a) {
                console.log("pass");
                $("#mdp-equality").html('<i class="fa fa-info-circle"></i>  Vos mots de passe concordent');
            }
            else {
                $("#mdp-equality").html('<i class="fa fa-info-circle"></i>  Les deux mots de passes ne sont pas identiques');
            }
        }
        $("#userMotdepasse").keyup(function () { $("#result").html(checkStrength($("#userMotdepasse").val())) });
        $(".pass-field").keyup(function () { checkEquality() });
    </script>
    <link rel="stylesheet" href="~/Content/css/elements/login.css">
}


<div class="flex-content flex-jcenter-acenter flex-col pop-up">
    <div class="popup-container with-shadow">
        <div class="content-section" id="reset-password">
            <p>
                Veuillez entrer votre nouveau mot de passe et cliquez sur le bouton "Réinitialiser le mot de passe" pour l'enregistrer.
                Utilisez au mois 8 caractères.
            </p>
            @using (Html.BeginForm("ConfirmUpdatePassword", "Login", new { token = @ViewBag.userId }, FormMethod.Post, new { @class = "formfields" }))
            {

                @Html.PasswordFor(x => x.userMotdepasse, new { @placeholder = "Nouveau mot de passe ", @required = true, @minlength = "8", @class = "pass-field" })
                @Html.PasswordFor(x => x.userMotdepasseConfirme, new { @placeholder = "Confirmer mot de passe", @required = true, @minlength = "8", @class = "pass-field" })
                <div id="mdp-equality"></div>
                <ul class="policies">
                    <li id="pass-length">Au moin caractère 8</li>
                    <li id="pass-min-maj">Utilisez des MAJ et des MIN</li>
                    <li id="pass-special">Utilisez des caractères spéciaux</li>
                    <li id="pass-number">Pensez à ajouter des chiffres</li>
                </ul>
                <div id="result"></div>
                <div class="text-centered">
                    <input type="submit" value="Reset" class="btn btn-primary">
                    @Html.ActionLink("Annuler", "Accueil", "Login", new { id = "" }, new { @class = "btn btn-warning" })
                </div>

            }
        </div>
    </div>
</div>




