.change-avatar {
    text-transform: uppercase;
    margin-left: 30px;
}
.change-avatar .btn{
    margin-top: 10px;
    min-width: inherit;
    padding: 12px 15px;
    color: #979797;
}
.edit-avatar {
    padding: 0px 0 20px;
}

.profil-thumb {
    width: 85px;
    height: 85px;
    display: block;
    overflow: hidden;
    border-radius: 50%
}
#new-profil-preview {
    width: 85px;
    height: 85px;
    object-fit: cover;
}