
@{
    ViewBag.Title = "Notification";
}

<div class="flex-content flex-jcenter-acenter flex-col pop-up">
    <div class="popup-container with-shadow">
        <div class="head gradient-blue">
            <h1>Terminé</h1>
        </div>
        <div class="content-section text-centered icon-bottom">
            <i class="pop-icon green-bg"></i>
            <p>Nous venons d'envoyer les instructions de réinitialisation du mot de passe à <strong class="green-text">test@mail.com</strong></p>
            <form action="" method="post">
                <input type="submit" value="Ok" class="btn btn-primary">
            </form>
        </div>
    </div>

</div>

<div class="flex-content flex-jcenter-acenter flex-col pop-up">
    <div class="popup-container with-shadow">
        <div class="head gradient-blue">
            <h1>Terminé</h1>
        </div>
        <div class="content-section text-centered icon-bottom">
            <i class="pop-icon green-bg"></i>
            <p>Nous venons d'envoyer les instructions de réinitialisation du mot de passe à <strong class="green-text">test@mail.com</strong></p>
            @using (Html.BeginForm("ListCommandes", "Commandes", FormMethod.Post))
            {
                <input type="submit" value="Envoyer" class="btn btn-primary">
                @Html.ActionLink("Annuler", "ListeUser", "Home", new { }, new { @class = "btn btn-warning" })
            }
            </div>
    </div>

</div>


