* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    margin: 0;
    padding:0;
    font-family: 'Roboto', Arial, sans-serif;
    color: #585858;
    font-size: 14px;
    line-height: 21px;
}
p {
    margin: 0 0 27px;
}
h2 { color: #f1be22 }
a {
    text-decoration: none;
}